* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;

  --bg-default: #f5f4f0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --acent-blue: #0c51a7;
  --acent-orange: #e95e10;
  --acent-pink: #e5245e;
  --acent-purple: #591b98;
}

#page {
  width: min(1280px, 100%);
  margin: 0 auto;
}

body {
  background-color: var(--bg-default);
  padding: 80px 88px 48px;
}

h4 {
  color: var(--text-headline);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: var(--text-primary);
  font-size: 36px;
  font-weight: 700;
}

#meeting img {
  width: 100%;
  height: 660px;
  border-radius: 28px;
  object-fit: cover;
}

p.description {
  color: var(--text-secondary);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;

  text-align: center;
}

h2 {
  font-size: 32px;
}

p {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
}

img {
    width: 100%;
    height: 350px;
    border-radius: 28px;
    object-fit: cover;
}

h3 {
  font-size: 28px;
}

p strong {
  color: var(--text-secondary);
}
