* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;

  --bg-default: #f5f4f0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --acent-blue: #0c51a7;
  --acent-orange: #e95e10;
  --acent-pink: #e5245e;
  --acent-purple: #591b98;
}

#page {
  width: min(1280px, 100%);
  margin: 0 auto;
}

body {
  background-color: var(--bg-default);
  padding: 80px 88px 48px;
}

h4 {
  color: var(--text-headline);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 8px;
}

h1,
h2,
h3 {
  color: var(--text-primary);
  font-size: 36px;
  font-weight: 700;
}

#meeting img {
  width: 100%;
  height: 660px;
  border-radius: 28px;
  object-fit: cover;

  margin-block: 40px 24px;
}

p.description {
  color: var(--text-secondary);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;

  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin-block: 40px 40px;

  background-color: var(--border-primary);
}

.header-list {
  margin-block: 64px 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

main p {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
}

main img {
  width: 100%;
  height: 350px;
  border-radius: 28px;
  object-fit: cover;

  margin-block: 48px 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 4px;
}

main p strong {
  color: var(--text-secondary);
}

main p.list {
  margin-bottom: 24px;
}

.local ul li {
  font-size: 16px;
  font-weight: 700;
  color: var(--acent-blue);
  margin-left: 24px;
}

.local-2 ul li {
  font-size: 16px;
  font-weight: 700;
  margin-left: 24px;
}

ul li::marker {
  color: #333333;
}

ul li.pink {
    color: var(--acent-pink);
}

ul li.orange {
    color: var(--acent-orange);
}

ul li.purple {
    color: var(--acent-purple);
}

footer p.description {
  margin-bottom: 64px;
}

footer img {
  width: 20px;
  height: 20px;
  vertical-align: center;
}

.mensage {
  display: flex;
  align-items: center;
  gap: 10px;

  justify-content: center;
}
